html, body {
	padding: 0;
	margin: 0;
	background-color: #255;
}

body {
	overflow: hidden;
}

.board {
	position: absolute;
	width: 384px;
	height: 384px;
	overflow: visible;
}

.board .row {
	overflow: visible;
	clear: both;
	height: 48px;
}

.board .cell {
	float: left;
	width: 48px;
	height: 48px;
	outline: 1px solid #222;
}

.board .cell.white {
	background-color: #aaa;
}

.board .cell.black {
	background-color: #666;
}

.board  .piece{
	position: relative;
	width: 48px;
	height: 48px;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 2;
}

.board .piece.king.black { background-image: url(pieces/black/king.png); }
.board .piece.queen.black { background-image: url(pieces/black/queen.png); }
.board .piece.bishop.black { background-image: url(pieces/black/bishop.png); }
.board .piece.rook.black { background-image: url(pieces/black/rook.png); }
.board .piece.knight.black { background-image: url(pieces/black/knight.png); }
.board .piece.pawn.black { background-image: url(pieces/black/pawn.png); }

